{% extends 'glav/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content%}
    <div class="features">
        <h1>Про нас</h1>
        <p>
            <p>Важнейшей частью любого бизнеса или предприятия являются материалы. Этот материал настолько широко вошел в обиход человека, что без него трудно представить себе комфортные условия проживания. Трубы, швеллеры, уголки - являются необходимым условием для подведения коммуникаций к дому.</p>
            <p>Компания "BurAli" поставляет металлопрокат различного назначения. Большим спросом пользуется стальной лист, балка двутавровая, швеллер, полоса и арматура, также мы предлагаем трубопроводную арматуру. Чтобы защитить металлические изделия от коррозии и вредного воздействия окружающей среды, мы проведём для вас цинкование. Специалисты нашей компании обладают опытом как горячего, так и гальванического цинкования. Кроме того, рады предложить Вам изоляцию труб, которая позволит увеличить срок эксплуатации трубы в несколько раз.</p>
            <p>Нашими клиентами являются крупные строительные организации. Наши преимущества перед конкурентами заключаются не только в низкой цене услуг, но и в наличии высококвалифицированных специалистов, готовых оказать покупателю грамотную консультативную помощь при приобретении металлопроката.</p>
        </p>
        <a href="{% url 'news_home' %}"><button class="btn btn-danger">Перейте к подбору материала</button></a>
{% endblock %}