{% extends 'glav/layout.html' %}

{% block title %}Арматуры и катанки{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}

    <div class="armaturi"></div>

        <h1>Арматуры и катанки</h1>


        <h2 class="armaturih21">Арматура А3 А400</h2>

        <img style="width: 300px;" class="armaturaa3img" src="{% static '/glav/css/img/armatura-a3-a400.png' %}" alt="Арматура А3 А400">

        <h5 class="armaturih51">Бетон уже не первое десятилетие остается наиболее распространенным строительным материалом. Подходит как для возведения одноэтажных домов и фундамента под частные бани,
            так и для строительства многоэтажных офисных зданий, стратегически важных мостов и плотин. Однако плохо выдерживает нагрузку на изгиб и сжатие – сравнительно небольшое давление повреждает толстый слой бетона.
            Чтобы этого не произошло, используется разнообразная арматура. И самой распространенной является арматура А3 она же А400. Доступная стоимость, большой ассортимент и прекрасные эксплуатационные характеристики позволяют использовать её при большинстве строительных работ.
            Но она различается по ряду параметров, поэтому узнать про неё больше будет весьма полезно.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="armaturih21">Арматура А3 А500С</h2>

        <img style="width: 300px;" class="armaturaa3img" src="{% static '/glav/css/img/armatura-a3-a500c.jpg' %}" alt="Арматура А3 А500С">

        <h5 class="armaturih51">Арматура класса А3 и А500С производится на средне- и мелкосортных станах методом горячей прокатки.
            Для этого заготовку требуемого сечения нагревают в методической печи и направляют сначала в черновую, а затем в чистовую группу клетей.
            После формирования геометрии согласно технологической карты, готовая продукция либо сматывается в бунты на специальной моталке, либо охлаждается,
            режется на стержни необходимой длины и пакетируется.</h5>
        
            <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="armaturih21">Арматура А1 ст3сп</h2>

        <img style="width: 300px;" class="armaturaa3img" src="{% static '/glav/css/img/armatura-a1.webp' %}" alt="Арматура А1">

        <h5 class="armaturih51">Изготавливается из конструкционных сталей, применяется для армирования железобетонных строительных конструкций, может использоваться в качестве связующих нагруженных элементов инженерных сооружений. Классификация и сортамент отвечает действующим стандартам,
            технические условия соответствуют стали горячекатаной для армирования железобетонных конструкций периодического или гладкого профилей. Может укладываться в обычном виде или в предварительно напряженном (растянутом) виде. Нормы по химическому составу этого стандарта распространяются на блюмсы,
            заготовки и слитки. С учетом механических свойств арматура бывает шести классов, в соответствии с классами применяются различные сорта сталей. Для стальной арматуры гладкого профиля класса A-I (А240) может использоваться сталь Ст3сп – 
            имеет наиболее высокие показатели среди всех строительных низкоуглеродистых сталей обычного качества с процентным количеством углерода ≈ 0,3%.</h5>
        
            <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="armaturih22">Катанка</h2>

        <img style="width: 300px;" class="armaturaa3img" src="{% static '/glav/css/img/catanca.jpg' %}" alt="Катанка">

        <h5 class="armaturih51">Катанка – это вид металлопроката, который представляет собой проволоку круглого сечения, изготовленную из углеродистых марок стали Ст0, Ст1, Ст2 и Ст3, в соответствие с ГОСТ 380,
            или из цветных металлов или сплавов цветных металлов в соответствие с принятым ТУ. Катанка из углеродистой стали выпускается с диаметром 5,0; 5,5; 6,0; 6,3; 6,5; 7,0; 8,0 и 9,0 мм. При этом допускается отклонения в диаметре +/- 5%,
            а овальность катанки допускается не более 50% от ее диаметра. Катанка из цветных металлов (медь, алюминий) или их сплавов (бронза, латунь) изготавливается с диаметром от 1 до 16 мм. С большим диаметром проволоку изготавливают на заказ ограниченными партиями.
            Проволка и катанка -это два слова обозначающих один и тот же материал.</h5>
        
            <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="armaturih21">Арматура АТ800</h2>

        <img style="width: 300px;" class="armaturaa3img" src="{% static '/glav/css/img/armatura-at800.png' %}" alt="Арматура АТ800">

        <h5 class="armaturih51">Термичка Ат800 обладает хорошей пластичностью, вязкостью, благодаря технологии производства и фиксации состояния наклёпа. Термически упрочнённая арматура практически не образует внутренние трещины — флокены, которые снижают качество стали.
            Низколегированные стали обладают способностью находиться при крайне низкой температуре, сохраняя свои качества. Такой материал особо прочный, он с успехом используется в железобетонном строительстве для уменьшения отпускных трещин в бетоне, для сварных конструкций, в строительстве зданий для несущих элементов: для колонн,
            фундамента, стен, лестничных площадок, в заводских плитах перекрытия, перемычках. Термически упрочнённая арматурная сталь может заменяться на арматуру А3, но эти стали ржавеют в разной степени.
            Ат800 применяют в производстве мебели и разнообразного оборудования, машиностроении, для тех деталей, которые особенно подвергаются нагрузкам, вызывающим значительные силы инерции, в т.ч.ударным нагрузкам. В монолитном строительстве чаще всего используют универсальную арматуру Ат800 14 мм,
            которая выдерживает большие нагрузки и является надёжным строительным элементом. Ат 800 арматура применима на «плавающих» грунтах и в районах с частыми землетрясениями.</h5>
        
            <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        
{% endblock %}