{% extends 'glav/layout.html' %}

{% block title %}Цветной металлопрокат{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}

        <h1 class="colormet">Цветной металлопрокат</h1>


        <h2 class="colormeth21">Бокс алюминиевый</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/metbox.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Бокс из алюминия - пустотелая труба с поперечным сечением. Изделие широко применяется в дизайне, наружной рекламе, строительстве, изготовлении мебели.
            В декоративных целях на торцах ставят заглушки.</h5>
        
            <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth21">Лист алюминиевый</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/aluminlist.webp' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Является технологически чистым алюминием, что позволяет использовать в пищевой промышленности  - кафе, рестораны, бары (кухонная зона), мясо-,
            рыбокомбинаты, хлебозаводы и т.д.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth21">Плиты алюминиевые</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/plitialum.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Алюминиевой плитой считается разновидность листового проката толщиной более 10 мм, изготовленная из различных сплавов алюминия.
            Производится путем горячей или холодной прокатки. Расплавленный сплав прокатывается до необходимой толщины и подвергается закалке.
            Для придания большей твёрдости и устойчивости к перепадам давления, полуфабрикаты дополнительно закаливают и состаривают. В зависимости от марки алюминия длина плит варьируется от 2 до 8 метров,
            ширина от 1,2 до 2 метров, толщина от 10 мм. Сферы производства, где габариты превосходят норму, а сваривание является небезопасным, заказывают прокат на основе своих технических требований.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth22">Полоса алюминиевая</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/polosaalum.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Полоса алюминиевая — это сплошной металлический профиль, который может быть использован для изготовления различных конструкций и мебели, для отделки фасадов и ремонта,
            в строительстве и производстве. Преимущества: - малый вес изделия; - надежность; - устойчивость к внешним факторам; - быстрый монтаж.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth23">Профили алюминиевые</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/profilialum.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Алюминиевый профиль отечественного производства представляет собой трубу квадратного сечения 20х20 мм, с толщиной стенки 1,5 мм. Это изделие часто используют дизайнеры для окантовки ниш и проемов в стенах.
            Серебристый профиль служит декоративным элементом в интерьерах, оформленных в современном стиле. Из него можно делать опорные конструкции для стеклянных полок, рекламных стоек и стендов. Алюминий не подвержен коррозии,
            поэтому профиль из него покупают для изготовления уличных световых коробов. Преимущества: - алюминиевый профиль легкий, прочный и долговечный: - изделия из алюминия не подвержены коррозии.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth24">Прутки и проволока алюминиевые</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/prutikialum.png' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Сварочная алюминиевая проволока широко применяемая для аргоновой и полуавтоматической сварки.
            Область применения алюминиевой сварочной проволоки расширяется, соответственно объемы потребления вырастают пропорционально.
            Благодаря прочности и малому удельному весу, алюминиевые изделия все больше набирают популярность.
            Алюминиевая проволока применяется в авиационной, химической, пищевой и также в ядерной отраслях.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth25">Рулон алюминиевый</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/rulonalum.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Алюминиевые рулоны представляют собой скатанные металлические ленты разной толщины и ширины. В этой форме материал удобно хранить,
            он не занимает много места. При необходимости, от рулона отрезается кусок нужной длины.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth25">Трубы алюминиевые</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/trubaalum.png' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Алюминиевая труба представляет собой полое длинномерное изделие из сплава цветных металлов. Отличается цилиндрической формой и поперечным сечением в виде круга,
            прямоугольника или квадрата. Длительный срок эксплуатации, легкость, стойкость к коррозии и хорошие свойства свариваемости обеспечивают популярность данного проката.
            Важным моментом является сохранение физико-химических свойств при влиянии отрицательных температур.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth26">Цветной металлопрокат</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/ugolokalum.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Уголок алюминиевый – это металлическое изделие Г-образного сечения с равными полками шириной 25 мм и толщиной 1,2 мм.
            Имеет анодированное покрытие, существенно увеличивающее срок службы уголка.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth27">Швеллер алюминиевый</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/svelleralum.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Алюминиевый швеллер – изделие из цветного металлопроката, не имеющее внутренних полостей и представляющее собой металлопрофиль П-образной формы,
            изготовленный по технологии холодного прессования алюминиевых сплавных заготовок. В соответствии с ГОСТ 22233, 8617 и 4784 (дюралевый сплав),
            может иметь широкий диапазон длин, высоты и ширины. Основное назначение – строительное, в маркировке обязательно указывается расстояние между внешними гранями изделия.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="colormeth28">Шина алюминиевая</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/shinaalum.jpg' %}" alt="Труба ВГП">

        <h5 class="armaturih51">Алюминиевые шины — представляют собой прямоугольные полосы длиной от 4 до 6 метров. Основная область применения — электротехническая промышленность.
            Изделия из алюминия и его сплавов отличаются хорошей токопроводностью, благодаря чему их можно купить и использовать для производства распределительных, токопроводящих элементов, шинопроводов и др.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>



{% endblock %}