{% extends 'glav/layout.html' %}

{% block title %}Листовой прокат стали{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}

        <h1 class="listi">Листовой прокат стали</h1>


        <h2 class="listih21">Лист стальной горячекатаный</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/list-goriach.jpg' %}" alt="Арматура А3 А400">

        <h5 class="armaturih51">Горячекатаные листы представляют собой стальные листы, которые принимают форму пластины после прокатки заготовок стальных слябов в горячем состоянии.
            Лист горячекатаный (г/к) применяют в строительстве, промышленности, машиностроении, станкостроении, кораблестроении, военной и гражданской авиации, архитектуре,
            для изготовления металлоконструкций различного настроения, приборов, бытовой техники и т. д. Лист горячекатаный используют для дальнейшей обработки,
            его подвергают вытяжке и прорезке для получения просечного металлического листа (ПВЛ). Просечно-вытяжной лист применяют для производства ступеней лестниц, уличных ограждений, различной упаковки.
            Также горячекатаные стальные листы используют в производстве электросварных и профильных труб, сварной балки, уголка.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="listih22">Лист оцинкованный</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/list-zhink.webp' %}" alt="Арматура А3 А400">

        <h5 class="armaturih51">Цинк защищает металл от коррозии и воздействия ультрафиолета, обладает электрохимической сопротивляемостью,что придаёт металлу долговечность и надёжность.  За счёт этого оцинкованный лист железа (оцинковка) широко применим  во многих отраслях промышленности.
            Его  применяют в строительных-монтажных работах, в машиностроении, автомобилестроении, производстве различного оборудования и техники, в кораблестроении, при строении зернохранилищ, а также оцинкованный лист используют как декоративный металлический лист, для облицовки фасадов.
            Одно из основных применений - кровля из металлических листов оцинкованных, для изготовления жестяных и водосточных изделий, незаменима оцинковка в производстве  корпусов стиральных машин и холодильников,баков с питьевой водой, гарантируя покрытию длительный срок эксплуатации.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="listih23">Лист оцинкованный с покрытием RAL</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/list-RAL.png' %}" alt="Арматура А3 А400">

        <h5 class="armaturih51">Гладкий лист ral 7004 производится из холоднокатаной высокоуглеродистой стали. Качество поверхности листа соответствует ГОСТу 16523-89. На листовой прокат можно наносить одно- или двухстороннее цинковое покрытие.
            Толщина слоя листа зависит от условий возможной эксплуатации материала. Сочетание прочности и упругости позволяет листовой стали отлично выдерживать различные механические нагрузки, в том числе вальцевание, штамповку, гибку, и вытяжку.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="listih24">Лист стальной холоднокатаный</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/list-kholodnokatanyy.jpg' %}" alt="Арматура А3 А400">

        <h5 class="armaturih51">Холоднокатаный лист используется в различных сферах, однако основными считаются изготовление автомобильных деталей, авиа-, вагоно-, машиностроение.
            Кроме того, данная продукция востребована в области возведения морских судов и в приборостроении. Строительство также нуждается в представленных изделиях металлопроката.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="listih25">ПВЛ, рифленый лист</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/list-rifleny.jpg' %}" alt="Арматура А3 А400">

        <h5 class="armaturih51">Рифленый лист – разновидность плоского металлопроката, который изготавливается на горячекатаных станках с нанесением одностороннего рифления.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>

{% endblock %}