{% extends 'glav/layout.html' %}

{% block title %}Нержавеющая сталь{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}

        <h1 class="nerz">Нержавеющая сталь</h1>


        <h2 class="nerzh21">Квадрат нержавеющий</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-kvadrat.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Нержавеющий квадрат – пруток полнотелого профиля, имеющего квадратное сечение. Чаще всего для производства используют следующие марки стали:
            12Х18Н10Т, 08Х18Н10, 23Х23Н18, 20Х13, 40Х13 или их зарубежные аналоги AISI321, AISI304, AISI316. С отечественными марками стали можно ознакомиться в ГОСТ 5632-72.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh22">Круг нержавеющий</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-round.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Круг нержавеющий, не менее известный как «пруток», — это один из многочисленных видов сортового металлопроката,
            который имеет круглое сечение. Изготавливается он путем горячей или же холодной прокатки. В основе изделия лежит высоколегированная нержавеющая сталь.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh22">Лист нержавеющий</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-list.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Нержавеющий лист - это основной продукт плоского металлопроката из нержавеющей стали, различный по геометрии и толщине,
            по способу проката (производства), методам обработки поверхности и ряду других характеристик.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh23">Отводы нержавеющие</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-otvod.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Нержавеющие отводы представляют собой устройства, предназначенные для изменения направления трубопровода на тот или иной градус.
            Данные фитинги могут использоваться при монтаже систем отопления, водоснабжения, канализации, магистральных и промышленных сетей.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh24">Переходы нержавеющие</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-perehod.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Нержавеющий переход используется для соединения элементов трубопровода, которые различаются между собой по диаметру/сечению.
            Эта деталь помогает сузить или расширить поток рабочей среды. Продукция позволяет обеспечить плавное соединение ответвлений.
            Изготавливаются стальные переходы по ГОСТ 17378-2001 / 17380-2001. Производители обеспечивают строгий многоэтапный контроль выпуска продукции,
            что обеспечивает точное соответствие требованиям стандартов.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh23">Полоса нержавеющая</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-polosa.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Нержавейка полоса - один из видов сортового проката, представляет собой плоский стальной брусок с прямоугольным сечением.
            Благодаря особенностям состава изделие стойко переносит воздействие воды, солей, кислот и щелочи, температурные перепады и физическое воздействие,
            сохраняя при этом прекрасный внешний вид на протяжении всего своего срока службы.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh25">Проволока нержавеющая</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-provolka.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Проволока из нержавеющей стали имеет улучшенные технические характеристики и обычно продается по более высокой цене,
            чем другие виды проволочного проката. Основное ее применение – конструкции из нержавеющей стали и сварка нержавейки в нефтеперерабатывающей,
            нефтедобывающей, химической, энергетической, строительной и машиностроительной промышленности, где требуется высокая прочность и длительный срок службы с сохранением основных технических характеристик.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh23">Рулон нержавеющий</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-rulon.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Нержавеющие рулоны представляют собой цельные ленты металлопроката, намотанные на гильзу определённого диаметра.
            Чаще всего такие рулоны прокладываются поверх металла бумагой или специальной пленкой для предотвращения механических повреждений.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh22">Сварочные материалы</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/svar-mat.png' %}" alt="Задвижки">

        <h5 class="armaturih51">Сварочные материалы — материалы, используемые в процессе сварки изделий. Сварочные материалы должны обеспечить:
            получение наплавленного металла заданного химического состава и свойств; получение сварных беспористых швов, стойких к образованию трещин; стабильное горение дуги; экономичность сварки.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh26">Труба круглая нержавеющая</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-round-trub.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Труба круглая нержавеющая выступает деталью, имеющую цилиндрическую форму и выполненную из нержавеющего металла. Длина такого изделия больше его поперечного сечения.
            Представленная разновидность нержавеющего металлопроката может различаться по ряду параметров: своему диаметру, длине, а также толщине стенки.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh27">Труба профильная оцинкованная нержавеющая</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-profil-trub.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Оцинкованные трубы очень популярны и прочно заняли свою нишу на рынке металлопроката, благодаря высокому качеству, прекрасным эксплуатационным характеристикам,
            щирокому ассортименту и, как следствие, очень обширной сфере применения.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh28">Уголок оцинкованный нержавеющий</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-zhink-ugolok.webp' %}" alt="Задвижки">

        <h5 class="armaturih51">Уголок нержавеющий – это Г-образное изделие, которое производится заводским методом из высоколегированной нержавеющей стали.
            Такой товар полностью оправдывает свое название так, как обладает антикоррозийными свойствами.
            Уголок нержавеющий производится из металлических нержавеющих листов.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="nerzh26">Шестигранник нержавеющий</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/nerz-shestig.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Нержавеющий шестигранник – изделие сортового проката, в сечении представляет собой равносторонний шестиугольник.
            Шестигранники производят из термоустойчивых и стойких к воздействию коррозии марок стали – легированной, конструкционной.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>



{% endblock %}