{% extends 'glav/layout.html' %}

{% block title %}Материалы{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}
    <div class="metalloprokat">
        <h1 style="font-size: 550%;">Материалы</h1>

        <h2 style="margin-top: 5%; font-size: 300%;">
            Арматуры, катанки
        </h2>

        <img src="{% static '/glav/css/img/images.jpg' %}" alt="Арматуры и катанки">

        <h5 style="margin-left: 5%;">
            Металлическая арматура – неотъемлемый компонент различных строительных конструкций промышленного и другого направления.
             С ее помощью повышаются прочностные качества сооружений,
              они становятся более устойчивыми к различным нагрузкам.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/armaturi">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Балки, швеллеры
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Balki-2.webp' %}" alt="Балки, швеллеры">

        <h5 style="margin-left: 5%;">
            Металлические балки существуют нескольких видов. Прежде всего, это балки, имеющие в сечении двутавр, для  изготовления используют по ГОСТ 8239
             углеродистую или  низколегированную сталь, и их разновидность - балки стальные двутавровые или швеллерные специальные, по ГОСТ 19425 – Конструкция и размеры,
              ГОСТ 535 – Общие технические требования, ГОСТ 26020
              – Швеллеры с параллельными гранями полок.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/balki">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Круг, полоса
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Round.jpg' %}" alt="Круг, полоса">

        <h5 style="margin-left: 5%;">
            Стальной круг необыкновенно востребован при изготовлении различных изделий, в самых разнообразных областях, его назначения просто невозможно перечислить.
            Это по-настоящему универсальное изделие. Изготавливают круг по ГОСТ 2590-88 из сталей практически всех марок, в зависимости от области его применения. Это может быть сталь,
            как обычных марок ст3, ст2, ст5, так и низколегированной стали - ст09Г2С, ст15ХСНД, а также, стали конструкционной, марок ст10, ст20, ст35, ст45, ст40Х, ст30хгса. Изготавливают,
            также для различного применения круги стандартной точности и круги калиброванные – повышенной надёжности и прочности.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/round">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Листовой прокат стали
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/listovoy.png' %}" alt="Листовой прокат стали">

        <h5 style="margin-left: 5%;">
            В нашей обыденной жизни мало можно найти мест, где бы ни использовался стальной лист. Мало кто замечает, что практически везде,
            в любой отрасли производства используется этот металл. В машиностроении, строительстве, приборостроении, медицине, в производстве любой бытовой техники, даже в текстильной и обувной промышленности – везде нужен металл.
            А нержавеющая сталь сегодня является наиболее дешевой из качественных металлов.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/listi">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Профанстил
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Profanstil.png' %}" alt="Профанстил">

        <h5 style="margin-left: 5%;">
            Это лист гофрированного металла, покрытый цинком. Конструктивно профнастил может отличаться формой ребер жесткости или гофр, как их еще называют.
            Они могут быть не только прямоугольные и трапециевидными, но и более сложных вариаций исполнения.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/profanstil">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Сетка
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Setka.webp' %}" alt="Сетка">

        <h5 style="margin-left: 5%;">
            Сегодня практически во всех сферах деятельности находит применение металлическая сетка. Ее применяют в различных областях промышленности и сельскохозяйственном производстве.
            Без нее не обходятся в строительстве, пищевой промышленности, машиностроении, горнодобывающей промышленности и многих других сферах.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/setka">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Трубы
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Trubi.jpg' %}" alt="Трубы">

        <h5 style="margin-left: 5%;">
            Водопроводные системы известны человечеству с глубокой древности, самыми нашумевшими водопроводами считаются  Архимедов винт, применяемый для подачи воды в общую систему и древнейший действующий трубопровод в Риме.
            Первые трубы изготавливали из  стволов твёрдых пород дерева, путём выдалбливания сердцевины (образуя таким образом, необходимые полости).
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/trubi">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Уголок, квадрат горячекатный
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Ugolok.jpg' %}" alt="Уголок и квадрат г/к">

        <h5 style="margin-left: 5%;">
            Уголок – это весьма распространенный вид металлопроката, использующийся примерно так же часто, как и квадрат г/к.
            Данное изделие представляет собой Г-образную балку
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/ugolok">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Цветной металлопрокат
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Metalloprokat.webp' %}" alt="Металлопрокат">

        <h5 style="margin-left: 5%;">
            Металлопрокат является одной из разновидностей промышленного производства.
            Также данным словом можно обозначать совокупность изделий из алюминия, бронзы, латуни, свинца и остальных металлов.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/colormet">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Трубопроводная арматура
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/truboprovodnaya-armatura.jpg' %}" alt="Трубопроводная арматура">

        <h5 style="margin-left: 5%;">
            Трубопроводной арматурой называют технические устройства, которые необходимы для регулирования и обеспечения нормального функционирования трубопроводов,
            а также разного рода технических систем. Иными словами, трубопроводная арматура являет собой устройства и приспособления, которые устанавливаются в трубопроводах, сосудах и агрегатах. И предназначаются они для управления, отключения, фазоразделения, перераспределения, регулировки, сброса, смешивания потоков рабочих сред.
            Это могут быть жидкости, газ, газообразные жидкости, порошки, суспензии и так далее.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/trubaarm">Подробнее</a></button>
        

        <h2 style="margin-top: 5%; font-size: 300%;">
            Оцинкованный металлопрокат
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Znink-metal.jpg' %}" alt="Цинковый металлопрокат">

        <h5 style="margin-left: 5%;">
            Оцинковка металла представляет собой один из главных способов защиты металла от процессов коррозии, а также от других внешних неблагоприятных воздействий.
            Во время процесса оцинковки на металл наноситься цинковое покрытие. Оцинковку можно производить, как на металлах с ровной и гладкой поверхностью, так и на тех поверхностях, у которых имеются небольшие изгибы.
            Оцинковку применяют практически ко всем стальным изделиям. Это могут быть листы, швеллера, уголки трубы, полосы и так далее.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/zhinkmet">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Нержавеющая сталь
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Nerz.jpg' %}" alt="Нержавеющая">

        <h5 style="margin-left: 5%;">
            Нержавеющая сталь представляет собой стойкую к возникновению процесса коррозии, а также к эксплуатации в агрессивных средах сложнолегированную сталь.
            Легирующими элементами в указанном случае выступают хром, титан, молибден и другие элементы. Нержавеющая сталь обладает довольно высоким уровнем стойкости к агрессивной среде. Данное свойство  определяется количеством хрома и иных легирующих элементов в сплаве. Если при изготовлении стали вводить в сплавы до 2%  углерода,
            на выходе может получиться углеродистая сталь. Такие стали широко используют в изготовлении измерительных, режущих приборов, деталей машин и многое другое.  Широко металлопрокат из нержавейки используется и в общем и частном строительстве,
            при создании разного рода металлоконструкций, для отдели, при конструкции мостов, в дорожной сфере и так далее.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/nerzstal">Подробнее</a></button>


        <h2 style="margin-top: 5%; font-size: 300%;">
            Сэндвич-панели
        </h2>

        <img style="width: 30%;" src="{% static '/glav/css/img/Sendvich.jpg' %}" alt="Сендвич">

        <h5 style="margin-left: 5%;">
            Сэндвич-панель — строительный материал, имеющий трёхслойную структуру, состоящую из двух листов жёсткого материала и слоя утеплителя между ними. Все детали сэндвич-панелей склеиваются между собой с помощью горячего или холодного прессования.
            В зависимости от назначения выделяются кровельные и стеновые панели.
        </h5>

        <button class="btn btn-success" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/sandvich">Подробнее</a></button>



            {% for i in news %}
                <div class="alert alert-warning">
                    <h3>{{ i.title }}</h3>
                    <h2>{{ i.anons }}</h2>
                    <a href="{% url 'news-detail' i.id %}" class="btn btn-warning">Подробнее</a>
                </div>
            {% endfor %} 
        
    </div>
{% endblock %}