{% extends 'glav/layout.html' %}

{% block title %}Круг, полоса{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}
        
        <h1  class="round">Круг, полоса</h1>


        <h2 class="roundh21">Круг горячекатаный</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/round-goriach.jpg' %}" alt="Арматура А3 А400">

        <h5 class="roundh51">Металлопрокат круглого сечения на сегодняшний день получил широкое распространение не только в промышленном, но также в гражданском строительстве.
            Этот элемент используют при возведении монолитно-каркасных домов. Также его можно использовать в качестве арматуры при создании ворот или обустройстве металлических каркасов для ограждений, подставок, вешалок и прочих кованых изделий.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="roundh22">Круг стальной конструкционный</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/round-constr.webp' %}" alt="Арматура А3 А400">

        <h5 class="roundh51">Сфера применения стального конструкционного круга широка. Основное направление это машиностроение и строительство.
            Покупая стальной конструкционный круг следует обратить внимание на выбор конструкционной стали.          
            Сталь конструкционная углеродистая качественная. Наиболее распространенная марка стали для кругов, например круг сталь 20, круг сталь 35, круг сталь 45.
            Обозначается, углеродистая качественная конструкционная сталь, двузначными числами, указывающие на содержание углерода в сотых долях процента. Чем выше содержание углерода, тем сталь жестче, тяжелее поддается обработке и вариться хуже, но лучше закаливается.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="roundh23">Полоса горячекатаная</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/polosa-stalnaya.jpg' %}" alt="Арматура А3 А400">

        <h5 class="roundh51">Сфера применения стального конструкционного круга широка. Основное направление это машиностроение и строительство.
            Покупая стальной конструкционный круг следует обратить внимание на выбор конструкционной стали.          
            Сталь конструкционная углеродистая качественная. Наиболее распространенная марка стали для кругов, например круг сталь 20, круг сталь 35, круг сталь 45.
            Обозначается, углеродистая качественная конструкционная сталь, двузначными числами, указывающие на содержание углерода в сотых долях процента. Чем выше содержание углерода, тем сталь жестче, тяжелее поддается обработке и вариться хуже, но лучше закаливается.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>



{% endblock %}