{% extends 'glav/layout.html' %}

{% block title %}Сендвич{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}

        <h1 class="sandvich">Сендвич</h1>


        <h2 class="sandvichh21">Кровельные сендвич-панели</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/krovel-sandvich.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Сэндвич-панели – это строительные изделия, предназначенные для возведения наружных,
            а также внутренних стен и перегородок, покрытия кровель зданий с несущим каркасом.</h5>
        
            <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="sandvichh21">Стеновые сэндвич-панели</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/stenovy-sandvich.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Стеновые сэндвич-панели применяются для возведения и утепления стен, и внутренних перегородок зданий различного назначения.
            Также отдельно стеновые панели используют для облицовки (отделки) фасадов.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>



{% endblock %}