{% extends 'glav/layout.html' %}

{% block title %}Трубопроводная арматура{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}

        <h1 class="trubaarm">Трубопроводная арматура</h1>


        <h2 class="trubaarmh21">Задвижки</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/zadvizhki.png' %}" alt="Задвижки">

        <h5 class="armaturih51">Задвижки – промышленная запорная арматура, используемая для полного закрытия или открытия проходного отверстия трубопровода.
            Применяются в коммунальных системах водоснабжения и отопления, а также в конструкциях различного промышленного оборудования.
            Задвижки для трубопровода обладают простой конструкцией, незначительным гидравлическим сопротивлением,
            небольшой строительной длиной и стойкостью к сложным условиям эксплуатации.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="trubaarmh22">Краны шаровые</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/kranisharov.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Шаровый кран относится к запорной арматуре и служит для перекрытия потока воды или теплоносителя, выступая элементом системы отопления или водоснабжения.
            Устройство необходимо для предотвращения затопления, удобства обслуживания систем коммуникаций.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="trubaarmh22">Отводы стальные</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/otvodstal.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Отвод является распространенным фасонным изделием, используемым при монтаже трубопроводов в тех случаях,
            когда необходимо изменить направление потока рабочей среды и сделать всю систему более мобильной.
            Отвод входит в число соединительных деталей трубопроводов, являясь ее полноценной выгнутой частью.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="trubaarmh23">Переходы стальные</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/perehodistal.png' %}" alt="Задвижки">

        <h5 class="armaturih51">Переходы стальные предназначены для соединения труб разного диаметра.
            Переходы стальные концентрические штампованные бесшовные приварные (по ГОСТ 17378-2001) используются на предприятиях нефтегазохимического комплекса, для соединения труб технологических трубопроводов,
            включая трубопроводы, на которые распространяются "Правила Госгортехнадзора России" при эксплуатации их в интервале от минус 40°С до плюс 450°С с давлением Ру до 16 МПа. Условия,
            в которых применяются переходы в промышленности, устанавливают на основе результатов на прочность с учетом всех внешних и внутренних силовых воздействий,
            войств транспортируемых по трубопроводу веществ и окружающей среды. Диаметр, который имеют бесшовные переходы - от 38 до 720 мм.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="trubaarmh24">Тройники оцинкованные</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/troinikizhink.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Детали трубопровода, которые разветвляют один поток жидкости на два одинаковых или разных, и изготовлены из высокопрочной стали с дополнительным цинковым покрытием.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>




{% endblock %}