{% extends 'glav/layout.html' %}

{% block title %}Оцинкованный металлопрокат{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}

        <h1 class="zhinkmet">Оцинкованный металлопрокат</h1>


        <h2 class="zhinkmeth21">Балка оцинкованная</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/zhink-balka.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Балка оцинкованная – одна из самых востребованных конструкций в строительстве объектов промышленного и гражданского строительства,
            сельского хозяйства, химической промышленности. Используется для возведения несущих конструкций, каркасов и опорных систем.</h5>
        
            <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="zhinkmeth21">Круг оцинкованный</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/zhink-round.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Оцинкованный круг производят высокотехнологичным методом горячего цинкования разномарочной катанки и гладкой арматуры А1 с толщиной покрытия около 70-120 мкм.
            Стальная арматура обеспечивает срок службы не менее 20-30 лет. В зависимости от сферы применения в год с поверхности прутка стирается приблизительно 2-6 мкм цинка.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="zhinkmeth22">Полоса оцинкованная</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/zhink-polosa.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">Полоса оцинкованная – изделие сортового металлопроката, которое изготавливается из низколегированных и углеродистых сталей с химическими добавками в сплав методом горячего и холодного проката.
            После этого металлический лист нарезается продольно и проходит обработку кислотой, после чего оцинковывается, обеспечивая высокое качество антикоррозионной защиты.
            Полоса может иметь различную длину, ширину и толщину, разные поверхностные покрытия и соответствует ГОСТ Р 9.307.89.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="zhinkmeth23">Швеллер оцинкованный</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/zhink-sveller.jpg' %}" alt="Задвижки">

        <h5 class="armaturih51">От других видов аналогичных стальных конструкций швеллер оцинкованный гост 9.307-89 не отличается. Его составляют такие же детали, а также он имеет такой же внешний вид.
            Единственное отличие – это специальное покрытие из цинка. Оно наносится на завершающем этапе производства изделия. Другими словами, на готовую швеллерную продукцию наносится тонкий слой покрытия из цинка.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>


        <h2 class="zhinkmeth24">Швеллер оцинкованный гнутый</h2>

        <img style="width: 300px;" class="balkiimg1" src="{% static '/glav/css/img/zhink-gnut-sveller.webp' %}" alt="Задвижки">

        <h5 class="armaturih51">Швеллер оцинкованный - один из долговечных элементов конструкций в агрессивных средах и ответственных сооружениях. Цинковое покрытие, состоящее из оксидов и гидроксидов цинка,
            защищает поверхность от разрушительного воздействия влаги и коррозии металла. Чаще всего оцинкованный швеллер выступает частью конструкций в дорожных сооружениях, крупных объектах,
            где требуется долговечная стойкость к влаге и агрессивным средам, при строительстве ограждений, а также в машиностроении.</h5>
        
        <button class="button1" style="margin-top: 2%; background: #198754; border-radius: 25px; color: white;" type="submit" data-test-id="button"><a style="text-decoration: none; color: white;" href="/news/mail">ПРИОБРЕСТИ</a></button>



{% endblock %}